@import "tailwindcss";

@layer base {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;;
    }

    body{
        color: white;
        background-color: rgb(20, 20, 20);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    html{
        scroll-behavior: smooth;
    }
}